<section id="content-receipt" class="clearfix">
 <div id="receipt-container">
  <div class="dotmatrix left"></div>
   <div id="receipt-content">
   <h4 id="receipt-title">Thank You!</h4>
   <p><strong>RECEIPT</strong></p>
     <div id="receipt-details" class="row clearfix">
  <div class="col-sm-8 receipt-left">
<p><strong class="font-weight-heavy">Growth Hacking</strong><br/> <span class="font-weight-light">Crash Course</span></p>
    </div>
<div class="col-sm-4">
$4.99
 </div>
</div>
<a href="https://s3-us-west-2.amazonaws.com/daniel-oms/CV.daniel+wegmann.pdf?X-Amz-Date=20150125T002433Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=5f46d9eff2e588d20f584027eb934edfdf1d2c0d355eb9841de6c6f9a9ae94a0&X-Amz-Credential=ASIAJ2R3SSCKLP7ZBM7A/20150125/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMn//////////wEagAKcZPuYm45AhmKovslwLNz0L2I0f7r3apiyKasf4eXRLMtlhRpgiqqcVyK%2BCxXZh/IEZ4dSoY0Y9hDoXtDeRQB/McFhQATl/AB0yxPTLanwoT4n%2B715jqNY2cTeTv1xA40t9CFzretsdvmAcAMwEsUBW4eHFS5iGO5kel8Nrgk4WgG3XmQhGO5dqMCfy3U05W9wJlJN3XePnQyW2zq8t%2B8Z9apW2hgaID55IP97b8zWmYZy2cp7AOxyx1sPAS7olTsMgBaYz4zGdSEVJzCQctA1eSQvK9i7Wr2wgKERMs%2BYk%2BUF0cTC45N0SgNO5Cak6cJH2AQ8p%2BOuYUNvmaEbLYYhIPDjkKYF"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
<footer id="receipt-footer">
<small>Your purchase is complete. We hope you enjoy it!</small>
</footer>
 </div>
<div class="dotmatrix right"></div>
 </div>
<div id="receipt-shadow"></div>
</section>


